<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="website icon" href="../../img/favicon_io/favicon-16x16.png" type="png">

</head>
<body>
    
    <div id="Informacion"></div>
    
    <script src="../components/informacion.js"></script>
    <!-- <script type="module" src="../components/notificaciones.js"></script> -->
    <script src="index.js"></script>
    <script>loadInformationPage();</script>
</body>
</html>