<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="website icon" href="../../img/favicon_io/favicon-16x16.png" type="png">

</head>
<body>
    
    <div id="status"></div>

    <a href="" onclick=""></a>
    <script src="../components/status.js"></script>
    <script>loadStatusPage();</script>
</body>
</html>