<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website icon" href="../../img/favicon_io/favicon-16x16.png" type="png">
    <title>Administrador</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body class="bg-gray-200">

    <div id="dashboard" class="flex"></div>
    

    <script src="administrador.js"></script>
    <script src="../components/Dashboards.js"></script>

</body>
</html>
