<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

    <div class="bg-white p-8 rounded-lg shadow-md w-96"> 

        <h2 class="text-2xl font-semibold mb-6 text-center">Registro de Usuario</h2> <!-- Título del formulario -->

        <form id="formulario"> 

            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Nombre de Usuario</label>
                <input type="text" id="username" name="username" autocomplete="off"
                class="rounded-md p-2 bg-white mt-1 w-64  focus:outline-blue-600" placeholder="Ingresa tu nombre de usuario">
            </div>

            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
                <input type="email" id="email" name="email" autocomplete="off"
                class="rounded-md p-2 bg-white mt-1 w-64  focus:outline-blue-600" placeholder="Ingresa tu correo electrónico">
            </div>

            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
                <input type="password" id="password" name="password" autocomplete="off"
                class="rounded-md p-2 bg-white mt-1 w-64  focus:outline-blue-600" placeholder="Ingresa tu contraseña">
            </div>

            <div class="mb-4">
                <label for="password2" class="block text-sm font-medium text-gray-700">Confirme Contraseña</label>
                <input type="password" id="password2" name="password2" autocomplete="off"
                class="rounded-md p-2 bg-white mt-1 w-64  focus:outline-blue-600" placeholder="Ingresa tu contraseña">
            </div>

            <button class="w-full bg-blue-900 text-white py-2 font-bold rounded-md hover:bg-blue-500 transition-ease-in-out disabled:opacity-50 cursor-not-allowed" id="BTNregistro" disabled>Registrar</button>
        </form>
    </div>

    <script src="index.js"></script>

</body>
</html>
