<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="website icon" href="../../img/favicon_io/favicon-16x16.png" type="png">

</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

    <div id="notification" class="fixed top-3 left-0 right-0"></div>

    <div class="bg-white p-8 rounded-lg shadow-md w-96"> 

        <h2 class="text-2xl font-semibold mb-6 text-center">Registro de Usuario</h2> <!-- Título del formulario -->

        <form id="formulario"> 

            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Nombre de Usuario</label>
                <input type="text" id="username" name="username" autocomplete="off"
                class="rounded-md p-2 bg-white mt-1 w-full  focus:outline-blue-600" placeholder="Ingresa tu nombre de usuario">
                <span></span>
            </div>

            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
                <input type="email" id="email" name="email" autocomplete="off"
                class="rounded-md p-2 bg-white mt-1 w-full  focus:outline-blue-600" placeholder="Ingresa tu correo electrónico">
                <span></span>
            </div>

            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
                <input type="password" id="password" name="password" autocomplete="off"
                class="rounded-md p-2 bg-white mt-1 w-full  focus:outline-blue-600" placeholder="Ingresa tu contraseña">
                <span></span>
            </div>

            <div class="mb-4">
                <label for="password2" class="block text-sm font-medium text-gray-700">Confirme Contraseña</label>
                <input type="password" id="password2" name="password2" autocomplete="off"
                class="rounded-md p-2 bg-white mt-1 w-full  focus:outline-blue-600" placeholder="Ingresa tu contraseña">
                <span></span>
            </div>

            <!-- <div class="mb-4">
                <label for="rol" class="block text-sm font-medium text-gray-700">Rol</label>
                <select id="rol" name="rol" class="rounded-md p-2 bg-white mt-1 w-full focus:outline-blue-600">
                    <option value="" disabled selected>Selecciona un rol</option>
                    <option value="contador">Contador</option>
                    <option value="residente">Residente</option>
                </select>
                <span class="text-red-500 text-xs italic" id="rol-error"></span>
            </div> -->

            <button 
            class="w-full bg-blue-900 px-4 rounded-lg font-bold  text-white font-bold hover:bg-blue-400 py-2 transition ease-in-out disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-blue-900 cursor-pointer" 
            id="BTNregistro" disabled>Registrar</button>
        </form>

        <div class="flex justify-center mt-2">
            <a href="/" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Inicio
            </a>
        </div>

    </div>

    <script type="module" src="index.js"></script>
    <script type="module" src="../components/notificaciones.js"></script>

</body>
</html>
